@model IEnumerable<Currency>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="border bg-light p-3">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Currency List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <br />
    <div>
        @if(Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.ISOCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.NumericISOCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Symbol)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.ISOCode)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.NumericISOCode)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Symbol)
                        </td>
                        <td style="width: 150px">
                            <div class="btn-group" role="group">
                                <a id="Update-Currency-@item.Symbol-1" class="btn btn-primary text-white" asp-action="Edit" asp-route-id="@item.CurrencyID">
                                    <i class="fas fa-edit" aria-hidden="true">Update</i>
                                </a>
                                <a id="Detail-Currency-@item.Symbol-2" class="btn btn-success text-white" asp-action="Details" asp-route-id="@item.CurrencyID">
                                    <i class="bi bi-list" aria-hidden="true">View</i>
                                </a>
                                <a id="Delete-Currency-@item.Symbol-3" class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.CurrencyID">
                                    <i class="bi-trash" aria-hidden="true">Delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No Category exists</p>
        }
    </div>
</div>